---
---

*
    margin: 0
    padding: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.clearfix:after
    content: ""
    display: table
    clear: both

//Variables
$header-bg: rgba(255,255,255,0.92)
$header-text-color: #1e1e1e
$img-border: rgba(76,103,115,0.16)
$img-hover: rgba(76,103,115,0.57)
$font-main: 'Oswald', sans-serif
$font-head: 'Oswald', sans-serif

body
    background-attachment: fixed
    background-color: #ffffff
    font-weight: 300
    color: #373d3b

a
    text-decoration: none

.page-content
    max-width: 1200px

.slogan p
    font-size: 18px

.filter
    height: 2em
    opacity: 0.70
    text-align: center
    background-color: transparent
    border: none
    border-bottom: 1px solid #000    
    padding: 1px
    font-family: $font-main

footer
    padding-top: 10em
    margin-left: auto
    margin-right: auto
    font-size: 8px
    font-family: $font-main
    color: $header-text-color
    
    a
        color: rgba(220,39,119, 1.0)

        &:hover
            color: rgba(30,16,250,1.0)
            
.img-grid
    margin-top: 35px
    margin-left: auto
    margin-right: auto
    text-align: center

.img-container
    display: inline-block
    vertical-align: middle
    position: relative
    
p
    text-align: center
    font-size: 16px
    font-family: $font-main
    display: none

    a
        color: inherit

.firstline
    margin: 5px 0 0

.lastline
    margin: 5px 0 34px
    font-size: 18px
    color: rgba(227,216,204,1)

.col-1
    width: 24%
    padding: 10px 5px 0 0

.col-2
    width: 49%
    padding: 10px 10px 0 0

.col-3
    width: 100%
    padding: 10px 10px 0 0

img
    width: 100%
    position: relative
    z-index: 1

    &:hover
        box-shadow: 0 5px 15px rgba(0,0,0,0.3)

@import heading
@import media-queries
