@media (max-width: 2000px)
    .header
        height: 50px
        .page-content
            &:after
                max-width: 35%
        h1
            position: static
            display: inline-block
            margin-top: 0px
        .nav
            margin-top: 11px
    .page-content
        margin: 75px auto
        max-width: 1600px
    .col-1
        width: 23.9%
        padding: 10px 5px 0 0
    .slogan
        padding-left: 5px
        padding-right: 5px

@media (max-width: 1440px)
    .header
        .page-content
            &:after
                max-width: 35%
    .page-content
        margin: 70px auto
        max-width: 1500px

@media (max-width: 1200px)
    .header
        .page-content
            &:after
                max-width: 30%
    .page-content
        margin: 70px auto
        max-width: 1150px

@media (max-width: 940px)
    .header
        height: 4em
        .page-content
            padding: 0 30px
            &:after
                border: none
        h1
            position: static
            display: inline-block
            margin-top: 19px
            font-size: 1.6em
        .nav
            font-size: 1.0em
    .about
        display: block
        margin: 0 auto
    .img-grid
        padding-left: 5px
    .col-1
        width: 49%
        padding: 10px 0 0 5px
    .col-2
        width: 100%
        padding: 10px 10px 0 5px
    .col-3
        padding: 10px 10px 0 5px
    .page-content
        margin: 95px auto

@media (max-width: 620px)
    .header
        height: 6em
        h1
            display: block
            margin-top: 10px
            font-size: 1.5em
            text-align: center
        img 
            display: block
            margin-left: auto
            margin-right: auto
            width: 35%
        .nav
            display: block
            text-align: center
            float: none
            margin-top: 0em
            font-size: 1em
    .slogan p
            font-size: 16px

@media (max-width: 500px)
    .header
        height: 5em
        h1
            display: block
            margin: 0
            padding-top: 10px
            text-align: center
        .nav
            display: block
            text-align: center
            float: none
            margin-top: 0.5em

@media (max-width: 460px)
    .img-grid
        margin-top: 15px
    .col-1
        width: 100%
        padding: 10px 10px 0 5px